#ScanBarcode {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  align-items: center;

  position: absolute;
  top: 0;
  bottom: 80px;
  left: 0;
  right: 0;

  > .top {
    grid-column: span 2;
  }

  canvas {
    width: 100%;
  }

  > div:not(.top) {
    padding: 25px;
    text-align: center;
  }
}